.vs/*
/Generator/obj/Debug/*.cs
*.dll
*.pdb
*.cache
/.idea/*
/Generator/bin/Debug/*
/Generator/bin/Release/*
/Generator/obj/Debug/*
/Generator/obj/Release/*
/TT_GENERATION_FOLDER/*
/XiangXi/.idea/*
/XiangXi/hanfei/.idea/*
*.exe
*/bin/*
*/obj/*
/packages/*
/XiangXi/node_modules/*
/XiangXiENtities/sqlTT_GENERATION_FOLDER/*
XiangXi/Config/connectionStrings.local.config
