<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>香溪信息工作平台</title>
    <meta charset="utf-8"/>
    <link href="../assets/css/0-common/bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/css/0-common/common.css" rel="stylesheet"/>
    <link href="../assets/css/2-index/business.css" rel="stylesheet"/>
    <script src="../assets/js/0-common/require.js"></script>
    <script src="../assets/js/0-common/app.js"></script>
    <script src="../assets/js/2-index/business.js"></script>
	<style>
		
	</style>
</head>
<body style="
background-image: url('../assets/i/metaicon/e.jpg');
height: 1080px;
width:1920px;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
">
	
	
<!--
2. 首页监控作为地图悬浮，不在左侧显示。	8	进行中	韩菲
4. 左侧边栏可伸缩	8	进行中	韩菲
6. 需要有监控回看	16	进行中	路正遥
7. 给村长和村书记显示监控点位按钮悬浮	16	进行中	丁秋阳
8. 菜单选中加背景色	4	进行中	韩菲
10. 统计图点击查看大图	8	进行中	丁秋阳
11. 地图块分级显示	16	进行中	丁秋阳
12. 以视角显示某半径圈内的点位	16	进行中	韩菲
13. 类宝华信息框	16	进行中	韩菲
14. 配色调整	16	进行中	韩菲
15. 菜单配置按功能表	8	进行中	丁秋阳
1. 内页添加党史模块	8	进行中	韩菲
2. 内页添加村史模块	8	进行中	韩菲
3. 课堂记录改成三会一课	4	进行中	丁秋阳
4. 专项工作加载顶级菜单，专项工作内页设计	16	进行中	韩菲
5. 表格里面加定位跳转	16	进行中	丁秋阳
6. 工业园和三产改产业再低管理改经济管理	4	进行中	韩菲
7. 扁平化显示方式，例如厂房分类显示在内页	16	进行中	韩菲
8. 厂房改经营性物业载体	4	进行中	韩菲
9. 人口加一个关爱人员加权限	8	进行中	丁秋阳
10. 去掉家庭	4	进行中	丁秋阳
11. 用户信息改工作人员信息	4	进行中	丁秋阳
12. 基础人口排在第一	4	进行中	丁秋阳
13. 股民改图标，使用香溪股民证	4	进行中	韩菲
14. 村务管理加东山的模块加工作记录	16	进行中	丁秋阳
15. 信息互动加两块东西，村民反馈和处理两大模块	16	进行中	韩菲
16. 专项工作放在首级菜单	4	进行中	丁秋阳
17. 首页统计改成专项工作条目	4	进行中	韩菲
18. 给出app二维码，用于推广	16	进行中	王荣成
19. 照片审核功能	8	进行中	路正遥
20. 电视党建改成党建加摄影，摄影的模块改成社区专用宣传内容	16	进行中	王荣成

-->

<div id="container">
    <div id="part1">
        <div id="logo">
            <div>
                <table>
                    <tr>
                        <td colspan="2">
                            <img src="../assets/i/metaicon/QQ图片20180605101023.png" style="
                            margin-left: 20px;
                            margin-top: 20px;
                            margin-right: 20px;
                            "
                                 width="100"
                                 alt="香溪信息工作平台">
                        </td>
                        <td>
                            <div class="col-xs-12" style="margin-top:20px;">
                                <div style="width:1776px;">
                                    <div style="
								height: 60px;
								font-family: 黑体;
								font-size:40px;
								margin-left: 20px;
								margin-right: 20px;
								color:#ffffff;
								">
                                        香溪信息工作平台
                                    </div>
                                    <ul style="width:1776px;">
                                        <li>
                                            <a href="/XiangXi/1_index/business.html">
                                                首页
                                            </a>
                                        </li>
                                        <li v-for="row in secondmenu" style="">
                                            <a v-if="isdirect(row)" @click="redirect(row)">
                                                {{row.MCTitle}}
                                            </a>
                                            <a v-else v-bind:href="row.MCLink">
                                                {{row.MCTitle}}
                                            </a>
                                        </li>
                                        <li style="float:right; width:101px;">
                                            <a href="../4_login/login.html">
                                                <img src="../assets/i/metaicon/退出(1).png">
                                                <!--											<img src="../images/img/tuichudenglu.png" alt="退出登录" >-->
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top:140px;">
        <div style="margin:auto; width:60%;">
            <div id="third-menu" class="row sub_menu bus">
                <div id="button-group">
                    <a href="#" v-for="(menut,i) in thirdmenu">
                        <div class="col-md-4 shown" v-if="menut.img">
                            <img v-bind:alt="menut.title"
                                 v-bind:src="menut.img"
                                 style="background: transparent"
                                 @click="redirect(menut)"/>
                            <!--{{menut.title}}-->
                        </div>
                        <div class="col-md-4 shown" v-else>
                            <img v-bind:alt="menut.title"
                                 v-bind:src="menut.img||'/XiangXi/ImageHandler.ashx?label='+menut.title+'&bgcolor1='+colorlist[i]+'&bgcolor2='+colorlist[i]+'&width=200&height=150&icon='+menut.title+'.png&shape=trirect'"
                                 style="background: transparent"
                                 @click="redirect(menut)"/>
                            <!--{{menut.title}}-->
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


